{% extends 'layout.html' %}
{% block content %}
    {% if session.user_id == question.user_id %}
        <div id="new_comment">
            <div id="comment_info">
                <div>
                    <h2>{{ question.title }}</h2>
                    <p>{{ question.message }}</p>
                </div>
            </div>
            <div>
                <form action="/question/{{ question.id }}/new-comment" method="post">
                    <div>
                        <textarea id="message" name="message" rows="5" cols="50" placeholder="Comment goes here"></textarea>
                    </div>
                    <div>
                        <button class="button" id="submit" type="submit" name="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    {% elif session %}
        <div class="error_msg">
            <p>U can`t edit this question</p>
        </div>
    {% else %}
        <div class="error_msg" id="return_login">
            <p>Please log in first!</p>
        </div>
    {% endif %}
{% endblock %}