{% extends 'layout.html' %}
{% block content %}
    {% if session.user_id == question.user_id %}
        <div id="answeredit">
            <div>
                <div>
                    <h2>{{ question.title }}</h2>
                </div>
                <div>
                    <p>{{ question.message }}</p>
                </div>
            </div>
            <div>
                <form action="/question/{{ question.id }}/{{ answer.id }}/edit" method="post">
                    <div>
                        <textarea id="message" name="message" rows="2" cols="50">{{ answer.message }}</textarea>
                    </div>
                    <div>
                        <button class="button" id="submit" type="submit" name="submit">submit</button>
                    </div>
                </form>
            </div>
        </div>
    {% elif session.user_id != question.user_id %}
        <div class="error_msg" id="no_access">
            <p>U can`t edit this answer</p>
        </div>
    {% else %}
        <div class="error_msg" id="return_login">
            <p>Please log in first!</p>
        </div>
    {% endif %}
{% endblock %}