<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>AskM8 - {{ title }}</title>
    {% else %}
        <title>AskM8</title>
    {% endif %}
   <link rel='stylesheet', type='text/css', href='/static/theme1.css'>
</head>
<body>
    <div class="container">
        <div class="header">
            <div id="logo">
                {% if title %}
                    <header><a href="/">KekM8 - {{ title }}</a></header>
                {% else %}
                    <header><a href="/">Welcome to Kekm8!</a></header>
                {% endif %}
            </div>
            <div id="nav">
                <div>
                    <button class="button" id="askbutt"><a href="/add-question">Ask a question</a></button>
                </div>
                <div>
                    <form action="/result" id="search" name="search" method="post">
                        <input id="search" name="search" type="text" placeholder="&#128269; Search...">
                    </form>
                </div>
                <div id="authentication">
                    <div>
                        <button class="button" id="register"><a href="/register">Register</a></button>
                    </div>
                    <div>
                        <button class="button" id="login"><a href="/login">Login</a></button>
                    </div>
                    <div>
                        <button class="button" id="logout"><a href="/logout">Logout</a> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_block">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>