{% extends 'layout.html' %}
{% block content %}
    <div id="home">
        <!-- Buttons -->
        <div>
            <form action="/list" method="get">
                <div id="order_butt">
                    <div>
                        <select name="selection" class="button" id="orderselect">
                            <option id="title" name="title" value="title">Order by title</option>
                            <option id="view_number" name="view_number" value="view_number">Order by views</option>
                            <option id="vote_number" name="vote_number" value="vote_number">Order by votes</option>
                            <option id="submission_time" name="submission_time" value="submission_time">Order by time
                            </option>
                        </select>
                    </div>
                    <div>
                        <select name="order" class="button" id="orderselect">
                            <option id="ASC" name="ASC" value="ASC">Ascending</option>
                            <option id="DESC" name="DESC" value="DESC">Descending</option>
                        </select>
                    </div>
                    <div>
                        <button class="button" id="submit" type="submit" name="submit">Submit</button>
                    </div>
                </div>

            </form>
        </div>
        <!--The whole shit-->
        <div class="grid">
            {% for question in questions %}
                <div id="content">
                    <div id="title">
                        <h2><a href="question/{{ question.id }}">{{ question.title }}</a></h2>
                    </div>
                    <div id="info">
                        <div>
                            <p> {{ question.submission_time }} </p>
                        </div>
                        <div>
                            <p> &#x1f44d; {{ question.vote_number }}</p>
                        </div>
                        <div>
                            <p> &#x1f441; {{ question.view_number }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% if limit %}
            <div id="readmore">
                <button class="button" id="showall" type="button"><a href="/list">&#8595;</a></button>
            </div>
        {% endif %}
    </div>

{% endblock %}