{% extends 'layout.html' %}

{% block content %}
    <a href="/add-question">Ask a question</a>
    <div id="selector">
        <form method="get">
                    <select name="selection" id="selection">
                        <option id="title" name="title" value="title">Order by title</option>
                        <option id="view_number" name="view_number" value="view_number">Order by views</option>
                        <option id="vote_number" name="vote_number" value="vote_number">Order by votes</option>
                        <option id="submission_time" name="submission_time" value="submission_time">Order by time</option>
                    </select>
                    <button type="submit" id="submit" name="submit">Submit</button>
         </form>
    </div>
    <table>
        <form>
            <th>qID</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>


        {% for question in questions %}
            <tr>
                <td>
                    {{ question.id }}
                </td>
                <td>
                        {{ timestamps[loop.index0] }}
                </td>
                <td>
                    {{ question.view_number }}
                </td>
                <td>
                    {{ question.vote_number }}
                </td>
                <td>
                    <a href="question/{{ question.id }}">{{ question.title }}</a>
                </td>
                <td
            </tr>

        {% endfor %}
    </table>

{% endblock %}