{% extends 'layout.html' %}
{% block content %}
    <div class="login_page">
        <form action="/login" method="post" class="login_form">
            <div>
                <input type="text" id="login_user" name="username" placeholder="username" required>
            </div>
            <div>
                <input type="password" id="login_password" name="password" placeholder="password" required>
            </div>
            <div class="buttons">
                <div id="fixer"></div>
                <a id="login_link"><button type="submit" name="submit">Log in</button></a>
                <a href="{{ url_for('register')  }}" id="register_link">Register</a>
                <div id="fixer"></div>
            </div>
        </form>
        {% if message %}
            {{ message }}
        {% endif %}
    </div>
{% endblock %}