{% extends 'layout.html' %}
{% block content %}

    <div id="login">
        <form action="/login" method="post">
            <div>
                <p>Username</p>
            </div>
            <div>
                <input type="text" id="login_user" name="username">
            </div>
            <div>
                <p>Password</p>
            </div>
            <div>
                <input type="password" id="login_password" name="password">
            </div>
            <div>
                <button class="button" id="submit" type="submit" name="submit">Log in</button>
            </div>
            <div>
                <button class="button" id="register"><a href="/register">Register</a></button>
            </div>
        </form>
        {% if message %}
            {{ message }}
        {% endif %}
    </div>

{% endblock %}