{% extends 'layout.html' %}
{% block content %}
    <div class="question_page">
        <div id="question">
            <div id="main">
                <h2>{{ question.title }}</h2>
                <p>{{ question.message }}</p>
            </div>
            <div id="sub">
                <p>{{ question.submission_time }}</p>
                <p>{{ question.vote_number }}</p>
            </div>
            <div>
                <a href="/question/{{question.id}}/edit"><button class="button">Edit</button></a>
                <a href="/question/{{ question.id }}/delete"><button type="submit" class="button" name="delete">Delete</button></a>
                <a href="/question/{{ question.id }}/{{ question.vote_number }}"><button type="button", class="button", name="upvote">Upvote</button> </a>
            </div>

{#            <div>#}
{#                <a href="/question/{{ question.id }}/new-comment"><button class="button">Comment</button></a>#}
{#            </div>#}
        </div>
        <div id="answers">
                {% for answer in answers %}
                    {% if answer.question_id == question.id -%}
                        <div class="answer">
                            <p class="answer_mssg">
                                {{ answer.message }}
                            </p>
                                <a href="question/{{ question.id }}/{{ answer.id }}/vote"><button class="button">upvote</button></a>
                            <p class="footer_info">
                                {{ answer.id }}, {{ answer.vote }}, {{ answer.submission_time }}
                            </p>
                        </div>
                        <div>
                            <a href="/question/{{question.id}}/{{ answer.id }}/edit"><button class="button">edit</button></a>
                        </div>
                    {% elif answer.id == edit_id -%}
                        <form action="/question/{{ question.id }}/{{ answer.id }}/edit" method="post">
                        <div class="answer">

                        <div id="textarea">
                            <textarea id="answer" name="edited_answer" rows="5" cols="5">{{ answer.message }}</textarea>
                        </div>
                            <a href="question/{{ question.id }}/{{ answer.id }}/vote"><button class="button">upvote</button></a>
                        <p class="footer_info">
                            {{ answer.id }}, {{ answer.vote }}, {{ answer.submission_time }}
                        </p>
                        </div>
                        <div>
                            <a href="/question/{{question.id}}"><button class="button">save</button></a>
                        </div>
                        </form>
                    {%- endif %}
                {% endfor %}
        </div>
        <div id="post_answer">
            <form method="post">
                <div id="textarea">
                    <textarea id="message" name="message" rows="5" cols="80" required placeholder="Answer this question"></textarea>
                </div>
                <div>
                    <button class="button" id="submit" type="submit" name="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>



{% endblock %}