{% extends 'layout.html' %}
{% block content %}
    <div class="question_page">
        <div id="question">
            <div>
                <h2>{{ question.title }}</h2>
                <p>{{ question.message }}</p>
            </div>
            <div>
                <a href="/question/{{question_id}}/edit"><button class="button">Edit</button></a>
                <a href="/question/{{ question.id }}/delete"><button type="submit" class="button" name="delete">Delete</button></a>
            </div>
        </div>
        <div id="answers">
                {% for answer in answers %}
                {% if answer.question_id == question.id %}
                    <div class="answer">
                        <p class="answer_mssg">
                            {{ answer.message }}
                        </p>
                            <a href="question/{{ question.id }}/{{ answer.id }}/vote"><button class="button">upvote</button></a>
                        <p class="footer_info">
                            {{ answer.id }}, {{ answer.vote }}, {{ answer.submission_time }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
        </div>
        <div id="post_answer">
            <form method="post">
                <div id="textarea">
                    <textarea id="message" name="message" rows="5" cols="80" required placeholder="Answer this question"></textarea>
                </div>
                <div>
                    <button class="button" id="submit" type="submit" name="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>



{% endblock %}