{% extends 'layout.html' %}
{% block content %}

    <div id="register">
        <form action="/register" method="post">
            <div>
                <p>Username</p>
            </div>
            <div>
                <input id="new_user" name="username">
            </div>
            <div>
                <p>Password</p>
            </div>
            <div>
                <input id="new_password" name="password">
            </div>
            <div>
                <p>Confirm password</p>
            </div>
            <div>
                <input id="confirm_password" name="pw_confirm">
            </div>
            <div>
                <p>Email</p>
            </div>
            <div>
                <input id="email" name="email">
            </div>
            <div>
                <button class="button" id="submit" type="submit" name="submit">Register</button>
            </div>
        </form>
    </div>

{% endblock %}