{% extends 'layout.html' %}
{% block content %}
    <div class="register_page">
        <form action="/register" method="post">
            <div class="inputbox" id="username">
                <label>Username</label>
                <input type="text" name="username" required>
            </div>
            {% if error %}
                <div class="error" id="name_error">
                    <h2>{{ error['name_error'] }}</h2>
                </div>
            {% endif %}
            <div class="inputbox" id="password">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="inputbox" id="confirm_password">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" required>
            </div>
            {% if error %}
                <div class="error" id="password_error">
                    <h2>{{ error.confirmed_password }}</h2>
                </div>
            {% endif %}
            <div class="inputbox" id="email">
                <label>E-mail</label>
                <input type="text" name="email" required>
            </div>
            {% if error %}
                <div class="error" id="email_error">
                    <h2>{{ error.email_error }}</h2>
                </div>
            {% endif %}
            <div>
                <button type="submit" class="button" id="submit">Button</button>
            </div>
        </form>
    </div>
{% endblock %}

{#    <div id="register">#}
{#        <form action="/register" method="post">#}
{#            <div>#}
{#                <p>Username</p>#}
{#            </div>#}
{#            <div>#}
{#                <input type="text" id="new_user" name="username">#}
{#            </div>#}
{#            <div>#}
{#                <p>Password</p>#}
{#            </div>#}
{#            <div>#}
{#                <input type="password" id="new_password" name="password">#}
{#            </div>#}
{#            <div>#}
{#                <p>Confirm password</p>#}
{#            </div>#}
{#            <div>#}
{#                <input type="password" id="confirm_password" name="confirm_password">#}
{#            </div>#}
{#            <div>#}
{#                <p>Email</p>#}
{#            </div>#}
{#            <div>#}
{#                <input type="email" id="email" name="email">#}
{#            </div>#}
{#            <div>#}
{#                <button class="button" id="submit" type="submit" name="submit">Register</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}